* {
    color: #333;
}

body {
    font-family: arial;
    margin: 0;
}

a {
    text-decoration: none;
    color: #333;
}

a:active, a:hover, a:visited {
    color: #333;
}

body, html {
    height: 100%;
}

.wrapper {
    margin: 0 auto;
    max-width: 1100px;
    height: 100%;
    display: flex;
}

.result {
    visibility: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result > div {
    width: 50%;
    padding: 2%;
    background: #fff;
}

.result > div > h2 {
    padding: 2%;
    font-weight: lighter;
    font-family: "Comic Sans MS";
    color: #fff;
    background: #04aa6d;
    margin-top: 0;
    text-align: center;
}

.result > div > section {
    display: flex;
    align-items: center;
}

.result > div > section > span {
    margin-left: auto;
}

.main {
    box-sizing: border-box;
    padding: 2% 2% 0 2%;
    width: 70%;
    display: flex;
    flex-direction: column;
}

.header {
    margin-bottom: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header > h2 {
    margin : 0;
    padding: 1%;
    font-weight: lighter;
    font-family: "Comic Sans MS";
    color: #fff;
    background: #04aa6d;
    box-shadow: 2px 2px 5px 2px #000;
}

.header > p {
    font-weight: bold;
    margin-left: auto;
}

.question {
    margin-bottom: 5%;
    padding: 4%;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
}

.question > div {
    display: flex;
    justify-content: space-between;
}

.question > div > h4 {
    margin: 0;
    font-weight: normal;
    color : #777;
}

.options > label {
    display: block;
    margin: 2% 0;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
}

.footer {
    margin-top: auto;
    padding: 2% 4%;
    width: 92%;
    position: sticky;
    bottom: 0;
    background: #fff;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
    display: flex;
    justify-content: flex-end;
}

.footer button {
    font-weight: bold;
    padding: 2% 4%;
    background: #fff;
    border-radius: 5px;
    border : 1px solid #ddd;
}

.footer button:nth-child(1) {
    margin-right: auto;
}

.footer button:nth-child(3) {
    margin: 0 1%;
}

#nextBtn {
    color: #fff;
    background: #04aa6d;
}

#nextBtn > i {
    color: #fff;
}

.sidebar {
    box-sizing: border-box;
    padding: 0 2%;
    width: 30%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
}

.testDetails {
    margin-bottom: 10%;
    display: flex;
    justify-content: space-between;
}

.testDetails > h4 {
    margin: 5% 0;
    font-weight: normal;
}

.testDetails > button {
    margin: 3% 3% 3% auto;;
    padding: 2% 4%;
    color : #cc0000;
    background: #fff;
    border-radius: 5px;
    border: 1px solid black;
    font-weight: bold;
}

.testData {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.testData::-webkit-scrollbar { 
    display: none;
}

.testData > section > h3 {
    margin: 0;
}

.testData > section > small {
    user-select: none;
    color: #999;
}

.questionMetaData {
    margin: 10% 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.questionMetaData > li {
    font-size: 10px;
    text-align: center;
    list-style-type: none;
    flex-grow: 1;
}

.questionList {
    margin: 10% 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.questionList > li {
    margin: 1%;
    width: 18%;
    list-style-type: none;
}

.questionList a {
    box-sizing: border-box;
    padding: 25% 0;
    width: 100%;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    color: #aaa;
    border: 1px solid #aaa;
}

.currentQuestion > a {
    color: #000;
    border: 1px solid #000;
}

.answeredQuestion > a {
    background: #cdfeec;
}

.markedQuestion > a {
    background: #ffebcc;
}

/* home page styling */

#popup {
    //padding: 2%;
    background: #fff;
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.1);
    width: 40%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#popup > h2 {
    color: #04aa6d;
    margin: auto;
}

#popup > button {
    border: none;
    color: #fff;
    background: #04aa6d;
    padding: 2% 4%;
}

#popup i {
    margin-left: 5px;
    color: #fff;
}
