.container {
    margin: 10% 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.container > li {
    font-size: 10px;
    text-align: center;
    list-style-type: none;
    flex-grow: 1;
}