.container {
    margin-bottom: 10%;
    display: flex;
    justify-content: space-between;
}

.container > h4 {
    margin: 5% 0;
    font-weight: normal;
}

.container > button {
    margin: 3% 3% 3% auto;;
    padding: 2% 4%;
    color : #cc0000;
    background: #fff;
    border-radius: 5px;
    border: 1px solid black;
    font-weight: bold;
}